
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
<div class="card text-center">
    <div class="card-header">
        <h1>Welcome back</h1>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

                {{ form.username|as_crispy_field }}
                {{ form.password|as_crispy_field }}
                
                  
            <br>
            <button type="submit" class="btn btn-primary" > Login </button>
        </form>
    </div>
</div>

{% endblock %}