{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Profile Page{% endblock title %}

{% block content %} 
    
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="card col-lg-2 offset-lg-3 mb-3">
                <div class="row">
                    {% if user.profile.image %}
                        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="{{ user.username }}">
                    {% else %}
                        <img class="rounded-circle account-img" src="images/Avatar.png" alt="{{ user.username }}">
                    {% endif %}
                 
                    
                </div>
            </div>
            <div class="card col-lg-6 offset-lg-3 mb-3">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Bio</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">@ {{ user.username }}</th>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.profile.bio }}</td>
                      </tr>
                  
                    </tbody>
                  </table>
            </div>
            <div class="card text-center">
                
                <div class="card-body">
                 
                  <a href="{% url 'user:profile-update' %}" class="btn btn-primary">Update profile</a>
                </div>
               
              </div>
        </div>
    </div>

{% endblock%}