
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
<div class="card text-center">
    <div class="card-header">
    <h1>Register As A New User</h1>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
                
                {{ form.username|as_crispy_field }}
                {{ form.first_name|as_crispy_field }}
                {{ form.last_name|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.password1|as_crispy_field }}
                {{ form.password2|as_crispy_field }}
                  
            <br>
            <button type="submit" class="btn btn-primary" > Click to Register / Sign Up</button>
        </form>
    </div>
</div>

{% endblock %}