{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
<div class="card text-center">
    <div class="card-header">
      Edit a ToDo Item
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

                {{ form.title|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.deadline|as_crispy_field }}
                  
            <br>
            <button type="submit" class="btn btn-primary" > Save Item</button>
        </form>
    </div>
</div>

{% endblock %}